* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background: linear-gradient(to left, #ccc, #ccc);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

canvas {
    display: block;
    margin: 0 auto;
    background: url('./Public/game_background_deepblue_400x500.png') no-repeat center center;
    background-size: cover;
    border: 4px solid #000;
    border-radius: 10px;
    height: calc(100vh - 100px);
    /* height: 100vh; */
}

#title { text-align: center; font-size: 40px; color: #fff; margin-top: 10px; text-shadow: 2px 2px 5px #000; }

/* LOBBY OVERLAY */
#lobby {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background-color: #ccc; color: #000;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    z-index: 9999; text-align: center;
}

#lobby h1 { font-size: 35px; margin-bottom: 15px; }
#lobby h2 { font-size: 25px; margin-bottom: 40px; }

/* Main Start Button */
#startButton {
    font-size: 22px; padding: 12px 30px; 
    background-color: #fff; color: #000;
    border: 3px solid #000; border-radius: 8px; 
    cursor: pointer; transition: 0.3s;
    margin-bottom: 20px;
    font-weight: bold;
}

#startButton:hover { background-color: #797979; }

/* Sub Buttons Container */
.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

/* Translucent Buttons */
.sub-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.4); /* Translucent */
    border: 2px solid #000;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 600;
}

.sub-btn:hover {
    background-color: rgba(255, 255, 255, 1); /* Solid on hover */
    transform: scale(1.05);
}

#credit { position: absolute; bottom: 20px; font-size: 18px; }

/* --- POPUP MODAL (For Score, Help, About) --- */
#modalOverlay {
    display: none;
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 10000;
    justify-content: center; align-items: center;
}
#modalBox {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    border: 3px solid #000;
}
#modalTitle { font-size: 28px; margin-bottom: 15px; font-weight: bold; }
#modalText { font-size: 18px; margin-bottom: 20px; line-height: 1.5; }
#closeModalBtn {
    padding: 8px 20px; background: #000; color: #fff;
    border: none; cursor: pointer; font-size: 16px; border-radius: 5px;
}

