  * { margin: 0; padding: 0; box-sizing: border-box; }
  body {
    background: linear-gradient(to left, #ccc, #ccc);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }
  canvas {
    display: block;
    margin: 0 auto;
    background: url('./Public/game_background_deepblue_400x500.png') no-repeat center center;
    background-size: cover;
    border: 4px solid #000;
    border-radius: 10px;
    height: calc(100vh - 70px);
  }
  #title { text-align: center; font-size: 40px; color: #fff; margin-top: 10px; text-shadow: 2px 2px 5px #000; }

  /* LOBBY OVERLAY */
  #lobby {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background-color: #ccc; color: #000;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    z-index: 9999; text-align: center;
  }
  #lobby h1 { font-size: 35px; margin-bottom: 15px; }
  #lobby h2 { font-size: 25px; margin-bottom: 40px; }
  #startButton {
    font-size: 22px; padding: 12px 30px; background-color: #fff; color: #000;
    border: none; border-radius: 8px; cursor: pointer; transition: 0.3s;
  }
  #startButton:hover { background-color: #797979; }
  #credit { position: absolute; bottom: 20px; font-size: 18px; }